.container {
    margin: 0 auto;
    height: 100vh;
    position: relative;
}
.content {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 300px !important;
    align-content: flex-start;
}
.pagination {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    padding-bottom: 50px;
    padding-top: 20px;
    z-index: 10;
}